*.pyc

*.l?o
*.swp
*.pyc
*.class
*.dSYM
Makefile.in
tags
configure*

*.deps
/build*/COPYING
/build*/ChangeLog
/build*/INSTALL
/build*/Makefile*
/build*/NEWS
/build*/README

/build*/aclocal.m4
/build*/config.*
/build*/configure
/build*/stamp-h1
/build*/prototype.chk
/build*/w*.h

/build*/ex*
/build*/lib*
/build*/test*
/build*/ae_*
/build*/_archengine.so

/build_posix/gnu-support/compile
/build_posix/gnu-support/depcomp
/build_posix/gnu-support/install-sh
/build_posix/gnu-support/ltmain.sh
/build_posix/gnu-support/missing

/build_posix/autom4te.cache

/docs/doxygen.log
/docs/installdox
/docs/search

/docs/**/*.css
/docs/**/*.html
/docs/**/*.js
/docs/**/*.png

/docs/*.css
/docs/*.html
/docs/*.js
/docs/*.png

/docs/java
/docs/latex
/docs/python
/docs/swig

/lang/python/archengine
/lang/python/__init__.py
/lang/python/archengine_wrap.c

/releases
/src/server

/test/bt/CONFIG
/test/bt/__rand
/test/bt/__ae.bdb
/test/bt/__ae.run
/test/bt/__ae.ae
/test/bt/db
/test/bt/t
/test/bt/vgout.*
